@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
.sidebar{
    position: relative;
    top: 20px;
    left: 20px;
    height: 35px;
    width: 40px;
    background-color: rgb(167, 148, 201);
    border-radius: 2px;
}
.menucon{
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 4px 0;
    top: 6px;
    left: 5px;
    position: relative;
}
.sidebar:active{
    background-color: hotpink;
    margin-top: 5px;
}
.window{
    position: absolute;
    top: 0;
    height: 100%;
    width: 250px;
    left: -250px;
    background-color: rgb(167, 148, 201);
    z-index: 11;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
}
#check{
    display: none;
}
#check:checked ~ .window{
    left: 0px;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
}
.box{
    position: absolute;
    top: 10px;
    left: 200px;
    text-align: center;
    font-size: 24px;
    font-weight: 1000;
    height: 30px;
    width: 30px;
    background-color: black;
    color: rgb(167, 148, 201);
    border-radius: 4px;
}
.window img{
    position: relative;
    height: 100px;
    border-radius: 50%;
    top: 10px;
    left: calc(50% - 50px);
}
.detail{
    text-align: center;
    padding-top: 15px;
}
.tabs {
    position: relative;

    left: calc(50% - 30px);
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
}
.tabs ul li{
    text-decoration: none;
    margin-top: 42px;
    padding-bottom: 10px;
    list-style-type: none;
    font-weight: 700;
    font-size: 20px;
}
.tabs ul li a{
    text-decoration: none;
    color: #532f64;
}
.tabs ul li:hover{
    padding-left: 10px;
    transition-duration: .5s;
}
.contact{
    position: relative;
    left: 70px;
    top: 160px;
    font-weight: 600;
    font-size: 30px;
}
.contact a{
    color: #532f64;
    text-decoration: none;
    font-family: 'Dongle', sans-serif;
}
.contact a:hover{
    color: navy;
}